<!--  Display Cart and Products in Cart -->

{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4" style="color:#447e9b; text-decoration-line: underline;font-size: 42px; text-align: center;">Cart <i class="fa fa-opencart"></i></h1>
    {% if cart.products %}
        <table class="table table-striped table-light table-hover cart-table mb-4">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody class="cart-body">
          {% for product in cart.products.all %}
            <tr class="cart-products">
              <th scope="row">{{forloop.counter}}</th>
                <td>
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    {% include 'carts/snippets/remove_cart_form.html' with product_id=product.id  %}
                </td>
              <td>{{ product.price }}</td>
            </tr>
          {% endfor %}

            <!--  Display Order Total  -->
            <tr>
                <td colspan="2"></td>
                <td><b>Subtotal: </b> $<span class="cart-subtotal">{{ cart.subtotal }} </span> </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><b>Total: </b> $<span class="cart-total">{{ cart.total }}</span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><a style="width:100%;"class='btn btn-block btn-primary' href='{% url "cart:checkout" %}'> Checkout <i class="fa fa-credit-card"></i></a></td>
            </tr>
          </tbody>

        </table>

        <div class="cartitem-remove-form" style="display:none">
        {% include 'carts/snippets/remove_cart_form.html' %}
        </div>

    {% else %}
        <p class="lead"> Cart is Empty</p>
    {% endif %}

{% endblock %}