 <form style="display:inline"  class='product-add-form' data-endpoint='{% url "cart:update"%}' method="post" action="{% url 'cart:update' %}" class="form">
    {% csrf_token %}

    <input type="hidden" name="product" value="{{ product.id }}">


        <span class="submit-span">
            {% if object in cart.products.all %}
                 In Cart <button style="width:100%;margin-top:7px;" type='submit' class="btn btn-danger">Remove?</button>
            {% else %}
                 <button style="width:100%;margin-top:7px;" type='submit' class="btn btn-success btn-block">Add To Cart</button>
            {% endif %}
        </span>

 </form>