
<!-- Display Form to login a user -->

{% extends 'base.html' %}

{% block content %}
<div style="margin:20px;">
    <h1 class="mb-4" style="color:#447e9b; text-decoration-line: underline;font-size: 42px; text-align: center;">Log In <i class="fa fa-sign-in"></i></h1>
        <hr/>
    <div class="row" style="margin-left:50px;margin-bottom:50px;">

        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <hr/>
        <input style="width:100%;" type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
{% endblock %}