{% block base_head %}
<style>
    input[type='text']{
        float:right;
    }
label{
    font-weight: bold;
}
</style>
{% endblock %}

 <!-- Display form to add a new Address -->

    <form class="my-5"method="post" action="{% if actionURL %}{{ actionURL }}{% else %}{% url 'login' %}{% endif %}">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next_url }}" />
        {% endif %}
            {% if address_type %}
                <input type="hidden" name="address_type" value="{{ address_type }}">
            {% endif %}
        {{ form.as_p }}
        <input style="width:60%;"type="submit" class="btn btn-primary" value="Submit">
    </form>
