{% load static %}
<!doctype html>
<html lang="en">
      <head>
        <!-- Required meta tags -->
       {% include 'base/css.html' %}
          {% block base_head %}{% endblock %}

        <title>Rocket Tech</title>
      </head>
  <body>
  <div class="container-fluid">

      <div class="row">
          <div class="col-12">
                {% include 'base/navbar.html' with brandname="Rocket Technology" logo="img/th.jpeg" %}
          </div>
      </div>

      <div class="row">
          <div class="col-11 col-md-9 ml-auto mr-auto" style="min-height:900px;">

                <div class="container">
                    {%  block content %}{% endblock %}
                </div>

          </div>

          <div class="col-11 col-md-3 ml-auto mr-auto">
              <div class="alert alert-primary">SIDE</div>
              <aside>
                  <h1>Side Content</h1>
              </aside>
          </div>
      </div>

       <div class="row">
           <div class="col-12">
               {% include 'base/footer.html' %}
           </div>
       </div>
  </div>





















    {% include 'base/js.html' %}
  </body>
</html>