{% extends 'base.html' %}

{% block content%}

        <div class=" detaildata row col-12">
            <div style=" margin-bottom:30px; width:100%;">
               <h2> {{ object.title | title }} </h2>
                <h3>${{ object.price | title }}</h3>

                <p>{{ object.description1 | linebreaks}} </p>
                 <p>{{ object.description2 | linebreaks}}</p>

                {% if object.image %}
                     <img src="{{ object.image.url }}" class="img-fluid" style="width:350px; height:250px; margin:15px;" />
                {% endif %}
            <br>
                {% include 'products/snippets/update_cart.html' with product=product cart=cart %}
            </div>

        </div>


{% endblock %}